.simple-container {
    display: flex;
}

.direction-column {
    flex-direction: column;
}

.direction-row {
    flex-direction: row;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex-wrap {
    flex-wrap: wrap;
}

.width-100 {
    width: 100%;
}

.max-width-800 {
    max-width: 800px;
}
.max-width-1000 {
    max-width: 1000px;
}

.grow {
    flex-grow: 1;
}

.gap-8 {
    gap: 8px;
}
.gap-16 {
    gap: 16px;
}
.gap-24 {
    gap: 24px;
}

.padding-8 {
    padding: 8px;
}
.padding-16 {
    padding: 16px;
}
.padding-24 {
    padding: 24px !important;
}

.l-r-padding-8 {
    padding-left: 8px;
    padding-right: 8px;
}

.hover-outline {
    transition:box-shadow 0.3s cubic-bezier(0, 0, 0.5, 1);
}
.hover-outline:hover {
    box-shadow: 0 0 0 1px var(--color-border) inset;
}
.hover-delete {
    transition: background .25s cubic-bezier(0, 0, .5, 1), color .25s cubic-bezier(0, 0, .5, 1) !important;
}
.hover-delete:hover {
    background: var(--color-danger) !important;
    color: var(--color-danger-text) !important;
}

.outline-text {
    color: var(--color-text-muted);
}

.line-height-1 {
    line-height: 1;
}

.text-center {
    text-align: center;
}